{% extends 'aplicacion1/layout.html' %} 

{% block content%}

<div id='tabla'>

  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Comentario</th>
    </tr>
    {% for com in data %}  
    <tr>
      <td>{{com.id}}</td>
      <td>{{com.nombre}}</td>
      <td>{{com.apellido}}</td>
      <td>{{com.correo}}</td>
      <td>{{com.comentario}}</td>
      <td><a href="/eliminar_comentario/{{com.id}}">eliminar</a> -----  <a href="/editar_comentario/{{com.id}}">editar</a> ----<a href="/listar_coment_mail/{{com.correo}}">filtrar</a>  </td>
    </tr>
    {% endfor %}

    {% for com in correo %}  <!--trae solo lo filtrado por email-->
    <tr>
      <td>{{com.id}}</td>
      <td>{{com.nombre}}</td>
      <td>{{com.apellido}}</td>
      <td>{{com.correo}}</td>
      <td>{{com.comentario}}</td>
      <td><a href="/eliminar_comentario/{{com.id}}">eliminar</a> -----  <a href="/editar_comentario/{{com.id}}">editar</a> ----<a href="/lista_comentarios">borrar filtro</a>  </td>
    </tr>
    {% endfor %}


    {{correo.correo}}
  </table>

</div>

{% endblock %}